
<!-- Spinner -->
<div [hidden]="exam" class="row w-100 h-100 align-items-center justify-content-center">
  <ld-circle></ld-circle>
</div>

<div *ngIf="exam" class="container pt-4 font-poppins" id="problem-description-panel">
  <div class="row content-title-font">
    <div class="col"> Problems </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> # </th>
          <th scope="col"> Problem Title </th>
          <th scope="col"> Score </th>
          <th scope="col"> Verdict </th>
          <th scope="col"> Submission Quota </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let problem of exam.problems">
          <th scope="row"> {{ problem.id }} </th>
          <th> {{ problem.title }} </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="markdown-panel pt-4" #examDescriptionPanel></div>
</div>