
<!-- Spinner -->
<div [hidden]="exam" class="row w-100 h-100 align-items-center justify-content-center">
  <ld-circle></ld-circle>
</div>

<div *ngIf="exam" class="container pt-4 font-poppins" id="problem-description-panel">
  <div class="row content-title-font">
    <div class="col"> Problems </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> # </th>
          <th scope="col" class="text-left"> Problem Title </th>
          <th scope="col"> Score </th>
          <th scope="col"> Verdict </th>
          <th scope="col"> Submission Quota </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let problem of exam.problems; let i = index">
          <td> {{ getProblemOrder(i) }} </td>
          <td class="text-left"> {{ problem.id }} {{ problem.title  }} </td>
          <td> {{ problem.score }} / {{ problem.maxScore }} </td>
          <td> {{ problem.verdict }} </td>
          <td> {{ problem.quota }} </td>
        </tr>
        <!-- TODO: table footer -->
        <tr>
          <th></th>
          <td> Total </td>
          <td> {{ getTotalScore() }} / {{ getTotalMaxScore() }} </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="markdown-panel pt-4" #examDescriptionPanel></div>
</div>