<!-- Spinner -->
<div [hidden]="exam" class="row w-100 h-100 align-items-center justify-content-center">
  <ld-circle></ld-circle>
</div>

<div *ngIf="exam" class="container pt-4 font-poppins" id="problem-description-panel">
  <div class="row content-title-font pt-4 px-1 text-left">
    Problems
  </div>
  <hr class="row">
  <div class="row">
    <table class="w-100 my-table table-borderless table-hover fade-in">
      <thead>
        <tr>
          <th scope="col"> #</th>
          <th scope="col" class="text-left"> Problem Title</th>
          <th scope="col"> Score</th>
          <th scope="col" class="text-left"> Verdict</th>
          <th scope="col"> Submission Quota</th>
        </tr>
      </thead>
      <tbody>
      <tr></tr>
      <tr *ngFor="let question of exam.questions; let i = index">
        <td> {{ toCharactorIndex(i)}} </td>
        <td class="text-left fake-link"
            (click)="routeToQuestion(question)"> {{ question.problemId }}. {{ question.problemTitle }} </td>
        <td> {{ question.yourScore }} / {{ question.maxScore }} </td>
        <td class="text-left">
          <span class="judge-status {{getQuestionStatus(question)}}">{{getQuestionStatus(question)}}</span>
          <span class="ml-2">{{ getQuestionBestRecord(question) }}</span>
        </td>
        <td> {{ question.remainingQuota }} </td>
      </tr>
      </tbody>
      <!-- TODO: table footer -->
      <tfoot>
      <tr>
        <td></td>
        <td class="text-right total-score"> Total Score</td>
        <td class="total-score"> {{ getTotalScore() }} / {{ getTotalMaxScore() }} </td>
        <td></td>
        <td></td>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="markdown-panel pt-4" #examDescriptionPanel></div>
</div>
