
#spinner {
  margin-right: auto;
  margin-left: auto;
  width: 90px;
  height: 90px;
}

.example-card .card-title {
  padding: 5px 5px 5px 15px;
  font-weight: bold;
  background: rgb(246, 246, 246);
}

th {
  font-weight: 600;
  color: #676877;
}

td:not(.fake-link) {
  color: #6D6E7D;
}

tfoot {
  border-top: 2px #676877;
}

.table thead th {
    border-bottom: 2px solid #6D6E7D;
}

.table td, .table th {
  border-top: 0;
  vertical-align: middle;
}

.judge-status {
  font-size: 20px;
  font-weight: 600;
}

.judge-status.AC {
  color: #91CB46;
}

.judge-status.WA, .judge-status.RE, .judge-status.SYSTEM_ERR {
  color: #F82727;
}

.judge-status.TLE, .judge-status.MLE, .judge-status.OLE {
  color: #1273BA;
}

.judge-status.CE {
  color: #F2B311;
}
