<div class="container-fluid banner font-poppins pt-4 pb-1 px-4 fw-400">
  <div class="text-center">
    <div style="font-size: 30px; line-height: 45px;">
      {{ h1 }}
    </div>
    <div style="font-size: 18px; line-height: 27px;">
      {{ h2 }}
    </div>
  </div>

  <div class="mb-2">
    <div class="fake-link hover-shadow" (click)="goPreviousPage.emit()" style="font-size: 20px; line-height: 30px;">
      <img class="m-1" src="../../../../assets/icons/left_arrow.png" alt="left-arrow">
      <span style="color: white;"> {{previousPageName}} </span>
    </div>
  </div>
</div>
