.my-problem-table td:nth-child(1) {
    width: 10%;
}

.my-problem-table td:nth-child(2) {
    width: 40%;
}

.my-problem-table td:nth-child(3) {
    display: flex;
    flex-flow: row wrap;
}

.problem-tag {
    font-size: 13px;
    font-weight: 600 !important;
    background-color: #0F7ED0;
    padding-top: 4px;
    padding-bottom: 4px;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #F9F9F9 !important;
    color: #7F808C !important;
    border-radius: 10px;
    border: white;
    margin: 0px 10px 0px 10px;
}

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #7F808C !important;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
}

ngb-pagination ::ng-deep ul li:first-child > a {
    background-color: white !important;
}

ngb-pagination ::ng-deep ul li:last-child > a {
    background-color: white !important;
}

ngb-pagination ::ng-deep a[aria-label='Previous'] span {
    display: none !important;
}

ngb-pagination ::ng-deep a[aria-label='Previous']::before {
    content: '<' !important;
}

ngb-pagination ::ng-deep a[aria-label='Next'] span {
    display: none !important;
}

ngb-pagination ::ng-deep a[aria-label='Next']::before {
    content: '>' !important;
}


