<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" [style.font-size]="'20px'"
          type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tag: {{currentSelectedTag}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a *ngFor="let examTag of examTags;"
       class="dropdown-item" href="#"  (click)="selectExamTag(examTag)">{{examTag}}</a>
  </div>
</div> -->

        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            Tag: {{currentSelectedTag}}
          </button>
          <div class="dropdown-menu">
            <a *ngFor="let examTag of examTags;"
              class="dropdown-item" href="#"  (click)="selectExamTag(examTag)">{{examTag}}</a>
          </div>
        </div>