
.custom-title-font {
  font-size: 35px;
  color: #374550;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.table th {
  text-align: left;
}

.table td {
  text-align: left;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
