<div class="center-content-panel">
  <div id="exams-panel" class="card shadow">
    <div class="card-title custom-title-font pt-4 px-5 pb-3 text-left">
      Exam List
    </div>
    <hr>
    <div class="card-body">

      <div id="exam-tags-bar" >
        <exam-tag-drop-down (tagSelect)="onExamTagSelected($event)"></exam-tag-drop-down>
      </div>

      <!-- Spinner -->
      <div *ngIf="loadingExams" class="row w-100 h-100 align-items-center justify-content-center">
        <ld-circle></ld-circle>
      </div>

      <table class="w-100 table text-left">
        <thead>
          <tr>
            <th scope="col"> # </th>
            <th scope="col"> Exam Name </th>
            <th scope="col"> Start Time </th>
            <th scope="col"> Duration </th>
            <th scope="col"> Tags </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let examItem of examItems">
            <th scope="row"> {{ examItem.id }} </th>
            <td> {{ examItem.title }} </td>
            <td> {{ getStartTimeString(examItem.startTime) }} </td>
            <td> {{ getDurationString(examItem.duration) }} </td>
            <td class="d-flex flex-row"> 
              <span *ngFor="let tag of examItem.examTags" class="d-flex flex-column mr-2 text-white table-tag-item"> 
                <span class="px-2">{{ tag }}</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
