
<!-- Spinner -->
<div *ngIf="!bestSubmission"  class="row w-100 h-100 align-items-center justify-content-center">
  <ld-circle></ld-circle>
</div>

<div class="my-panel">

  <span *ngIf="ifTheBestSubmissionStatusIs(AC)" class="badge badge-success judge-status">AC</span>
  <span *ngIf="ifTheBestSubmissionStatusIs(RE)" class="badge badge-danger judge-status">RE</span>
  <span *ngIf="ifTheBestSubmissionStatusIs(MLE)" class="badge badge-warning judge-status">MLE</span>
  <span *ngIf="ifTheBestSubmissionStatusIs(TLE)" class="badge badge-warning judge-status">TLE</span>
  <span *ngIf="ifTheBestSubmissionStatusIs(CE)" class="badge badge-danger judge-status">CE</span>
  <span *ngIf="ifTheBestSubmissionStatusIs(WA)" class="badge badge-danger judge-status">WA</span>

  <p *ngIf="bestSubmission" class="text">Runtime: {{bestSubmission.judge.runtime}}ms</p>
  <p *ngIf="bestSubmission" class="text">Memory Usage: {{bestSubmission.judge.memory}}MB</p>

  <table *ngIf="submissions.length != 0" class="table" id="submissions-table">
    <thead [style.fontSize]="'17px'">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Runtime</th>
      <th scope="col">Memory</th>
    </tr>
    </thead>
    <tbody  [style.fontSize]="'14px'">
    <tr *ngFor="let submission of submissions; let i = index">
      <th scope="row">{{submissions.length - i}}</th>
      <td>{{submission.judge.status}}</td>
      <td>{{submission.judge.runtime}}</td>
      <td>{{submission.judge.memory}}</td>
    </tr>
    </tbody>
  </table>
</div>
