
<!-- Spinner -->
<div [hidden]="exam" class="row w-100 h-100 align-items-center justify-content-center">
  <ld-circle></ld-circle>
</div>

<div *ngIf="exam" class="container pt-4 font-poppins" id="problem-description-panel">
  <div class="row content-title-font pb-2">
    <div class="col"> Problems </div>
  </div>
  <div class="row pb-2">
    <div style="width: 98%; position: relative; left: 1%; border: 1px solid #e4e1e1;"></div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> # </th>
          <th scope="col" class="text-left"> Problem Title </th>
          <th scope="col"> Score </th>
          <th scope="col" class="text-left"> Verdict </th>
          <th scope="col"> Submission Quota </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of exam.questions; let i = index">
          <td> {{ getProblemOrderChar(i) }} </td>
          <td class="text-left fake-link" (click)="routeToQuestion(question)"> {{ question.id }} {{ question.problemTitle }} </td>
          <td> {{ question.score }} / {{ question.maxScore }} </td>
          <td class="text-left"> {{ question.verdict }} </td>
          <td> {{ question.quota }} </td>
        </tr>
      </tbody>
        <!-- TODO: table footer -->
      <tfoot>
        <tr>
          <td></td>
          <td style="color: #FB5D53;"> Total </td>
          <td style="color: #FB5D53;"> {{ getTotalScore() }} / {{ getTotalMaxScore() }} </td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="markdown-panel pt-4" #examDescriptionPanel></div>
</div>
