
<div class="my-container fadeInDown">
  <div id="formContent" class="shadow">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <header id="title">Judge Girl (Kubernetes) Beta V1.0</header>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="studentId" placeholder="Student Id" #studentIdInput>
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password" #passwordInput>
      <input type="submit" id="login-btn" class="fadeIn fourth" (click)="login(studentIdInput.value, passwordInput.value)" value="Log In">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      Don't have an account? &nbsp;&nbsp;&nbsp; <strong>Tell the TA!</strong>
    </div>

  </div>
</div>
