.my-btn-text {
  font-weight: 500;
  color: #6D6E7D;
  border-color: #ced4da;
}

.my-btn-text:hover {
  background-color: #F2F2F2;
}

.my-table th:not(:first-child) {
  text-align: left;
}

.my-table td:not(:first-child) {
  text-align: left;
}


.exam-status {
  color: white;
  font-weight: 600;
  font-size: 13px;
  padding: 2px 10px;
  border-radius: 50px;
  margin: 0 8px;
}

.closed .exam-status {
  background-color: #C4C4C4;
}

.ongoing .exam-status {
  background-color: #F84338;
}

.upcoming .exam-status {
  background-color: #339BE7;
}

.ongoing .duration {
  color: #0F7ED0;
}
