<div *ngIf="testCases$ | withLoading | async as obs">
  <ng-template [ngIf]="obs.loading">
    <div id="left-column-spinner-container">
      <ld-circle></ld-circle>
    </div>

  </ng-template>

  <ng-template [ngIf]="obs.value">
    <div [style.padding]="'10px'">
      <table class="table">
        <thead class="modal-title" id="submission-judges-table-header" [style.fontSize]="'14px'">
        <tr>
          <th scope="col">Test Case</th>
          <th scope="col">Runtime Limit</th>
          <th scope="col">Memory Limit</th>
          <th scope="col">Output Limit</th>
          <th scope="col">Thread Limit</th>
          <th scope="col">Grade</th>
        </tr>
        </thead>
        <tbody class="submissions-table">
        <tr *ngFor="let testcase of obs.value; let i = index">
          <td>{{testcase.name}}</td>
          <td>{{describeTimeInSeconds(testcase.timeLimit)}}</td>
          <td>{{describeMemory(testcase.memoryLimit)}}</td>
          <td>{{describeMemory(testcase.outputLimit)}}</td>
          <td>{{testcase.threadNumberLimit === -1 ? '--' : testcase.threadNumberLimit}}</td>
          <td>{{testcase.grade}} pt</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

</div>

