.footer {
  margin-top: 20px;
  width: 100%;
  padding: 6px;
  background-color: rgb(236, 239, 241);
  text-align: center;
}

.footer div {
  font-size: 14px;
}

.mail {
  font-size: 12px;
  font-style: italic;
}
