
<div style="height: 100%; min-height: 100%; display: flex; flex-direction: column;">

  <!-- Toast Template -->
  <p-toast id="submission-toast" position="top-right" key="{{MESSAGE_KEY_SUBMISSION_TOAST}}" >
    <ng-template let-message pTemplate="message">
      <a [routerLink]="'/problems/'+message.data.problemId+'/submissions'">{{message.data.judgeStatus}}: {{message.data.problemTitle}}</a>
    </ng-template>
  </p-toast>

  <nav class="navbar navbar-expand-sm navbar-dark" style=" padding:5px 1px 5px 20px; background-color: #252730;">

    <a class="navbar-brand" [routerLink]="''" [style.fontSize]="'23px'">
      <span style="color: #339BE7">J</span>
      <span style="color: #6FBDF6">u</span>
      <span style="color: #8DC6F0">d</span>
      <span style="color: #B1D6F0">g</span>
      <span style="color: #D3EAFB">e</span>
      <span style="color: #339BE7"> G</span>
      <span style="color: #6FBDF6">i</span>
      <span style="color: #8DC6F0">r</span>
      <span style="color: #D3EAFB">l</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:16px; font-weight: 300;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'problems'">Problems</a>
        </li>
        <li *ngIf="hasLogin" class="nav-item" >
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'exams'">Exams</a>
        </li>
      </ul>
      <ul *ngIf="hasLogin; else notLogin" class="navbar-nav mr-2">
        <li class="nav-item cursor-pointer">
          <a class="nav-link" (click)="routeToChangePassword()" [routerLink]="''">Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="padding: 8px 0">/</a>
        </li>
        <li class="nav-item cursor-pointer">
          <a class="nav-link" (click)="onLogoutClick()" [routerLink]="''">Logout</a>
        </li>
      </ul>
      <ng-template #notLogin>
        <ul class="navbar-nav mr-2">
          <li class="nav-item cursor-pointer">
            <a class="nav-link" (click)="routeToHome()" [routerLink]="''">Login</a>
          </li>
        </ul>
      </ng-template>
    </div>


  </nav>

  <div style="flex-grow: 1">
    <router-outlet></router-outlet>
  </div>

</div>
