<div class="container font-poppins pt-4">
  <div class="title-font pt-4 px-1 text-left">
    Exam List
  </div>
  <hr>
  <div class="input-group mb-3 px-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle my-btn-text" type="button" data-toggle="dropdown">
        Filter
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">bruh</a>
      </div>
    </div>
    <input type="text" class="form-control"/>
  </div>

  <!-- Spinner -->
  <div *ngIf="loadingExams" class="row w-100 h-100 align-items-center justify-content-center">
    <ld-circle></ld-circle>
  </div>

  <table *ngIf="!loadingExams" class="w-100 table table-borderless table-hover my-exam-table">
    <thead>
      <tr>
        <th scope="col"> # </th>
        <th scope="col"> Exam Name </th>
        <th scope="col"> Start Time </th>
        <th scope="col"> End Time </th>
      </tr>
    </thead>
    <tbody>
      <tr> </tr>
      <tr *ngFor="let examItem of examItems">
        <th scope="row"> {{ examItem.id }} </th>
        <td><span class="fake-link" (click)="routeToExam(examItem.id)"> {{ examItem.name }} </span></td>
        <td> {{ getTimeString(examItem.startTime) }} </td>
        <td> {{ getTimeString(examItem.endTime) }} </td>
      </tr>
    </tbody>
  </table>
</div>
