.my-btn-text {
  font-weight: 500;
  color: #6D6E7D;
  border-color: #ced4da;
}

.my-btn-text:hover {
  background-color: #F2F2F2;
}

.table th:not(:first-child) {
  text-align: left;
}

.table td:not(:first-child) {
  text-align: left;
}

.my-exam-table th {
  border-bottom: 2px solid #6D6E7D;
}
