<div class="container-fluid banner font-poppins pt-4 pb-1 px-4 fw-400">
  <div class="text-center">
    <div style="font-size: 30px; line-height: 45px;">
      {{ problemId }} {{ getProblemName() }}
    </div>
    <div style="font-size: 18px; line-height: 27px;">
      {{ getExamName() }}
    </div>
  </div>

  <div class="mb-2">
    <div class="fake-link hover-shadow" (click)="routeToExam()" style="font-size: 20px; line-height: 30px;">
      <img class="m-1" src="../../../assets/icons/left_arrow.png">
      <span style="color: white;"> Problems Page </span>
    </div>
  </div>
</div>
