
<div class="container pt-4 font-poppins" id="problem-description-panel">
  <div class="row content-title-font pt-4 px-1 text-left">
    Problems
  </div>
  <hr class="row">
  <div class="row">
    <!-- [TODO] the 'fade-in' animation will have bug applying to this table:
            the questions are loaded but hidden after refreshing this page -->
    <table class="w-100 my-table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col"> #</th>
          <th scope="col" class="text-left"> Problem Title</th>
          <th scope="col"> Score</th>
          <th scope="col" class="text-left"> Verdict</th>
          <th scope="col"> Submission Quota</th>
        </tr>
      </thead>
      <tbody>
      <tr></tr>
      <tr *ngFor="let question of questions$ | async; let i = index">
        <td> {{ toCharacterIndex(i)}} </td>
        <td class="text-left fake-link"
            (click)="routeToQuestion(question)"> {{ question.problemId }}. {{ question.problemTitle }} </td>
        <td> {{ question.yourScore }} / {{ question.maxScore }} </td>
        <td class="text-left">
          <span class="judge-status {{describeQuestionStatus(question)}}">{{describeQuestionStatus(question)}}</span>
          <span class="ml-2">{{ describeQuestionBestRecord(question) }}</span>
        </td>
        <td> {{ question.remainingQuota }} </td>
      </tr>
      </tbody>
      <!-- TODO: table footer -->
      <tfoot>
      <tr>
        <td></td>
        <td class="text-right total-score"> Total Score</td>
        <td class="total-score"> {{ totalScore$ | async }} / {{ totalMaxScore$ | async }} </td>
        <td></td>
        <td></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
