<div class="center-content-panel fade-in-down font-poppins">
  <div id="form-content" class="shadow">
    <div style="color: #6BB8F0; font-weight: 400; font-size: 30px;" class="mb-3">
      <img src="../../../assets/icons/key.png" />
      Change Password
    </div>

    <div>
      <div>
        <div class="title-text">Current Password</div>
        <input class="input-field" placeholder="Current Password" type="password" #oldPassword />
      </div>

      <div class="pt-3">
        <div class="title-text">New Password</div>
        <input class="input-field font-poppins" placeholder="New Password" type="password" #newPassword />
      </div>

      <button id="login-btn" class="mt-3 px-4 py-2" (click)="resetPassword()">
        Change
      </button>
    </div>

    <!-- Login Form -->
    <!-- <form>
      <input type="text" id="login" class="input-field fade-in second" name="email" placeholder="Email"
             #emailInput>
      <input type="password" id="password" class=" input-field fade-in third" name="password" placeholder="Password"
             #passwordInput>
      <p id="error-message">{{errorMessage}}</p>
      <div class="d-flex align-items-center justify-content-center"
           [style.padding]="'13px 0 35px 0'">
        <input type="submit" id="login-btn" class="fade-in fourth"
               (click)="login(emailInput.value, passwordInput.value)" value="Log In">
        <div class="spinner-border text-primary" role="status" id="spinner">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </form> -->
  </div>
</div>

