<div class="center-content-panel fade-in-down font-poppins">
  <div id="form-content" class="shadow">
    <div style="color: #6BB8F0; font-weight: 400; font-size: 25px; padding-right: 5rem" class="mb-3">
      <img style="width: 25px" src="../../../../assets/icons/key.png" alt="icon"/>
      Change Password
    </div>

    <div>
      <div>
        <div class="title-text">Current Password</div>
        <input name="currentPassword" class="input-field font-poppins"
          placeholder="Current Password" type="password"
          required [(ngModel)]="currentPassword"
          #currentPasswordField="ngModel"
          (keypress)="keyPress($event)" />
      </div>

      <div class="pt-3 pb-2">
        <div class="title-text">New Password</div>
        <input name="newPassword" class="input-field font-poppins"
          placeholder="New Password" type="password"
          required [(ngModel)]="newPassword"
          #newPasswordField="ngModel"
          (keypress)="keyPress($event)" />
      </div>

      <div *ngIf="showErrorMessage" class="error-message">
        <div>
          {{ errorMessage }}
        </div>
        <div *ngIf="currentPasswordField.invalid">
          Current password can not be empty.
        </div>
        <div *ngIf="newPasswordField.invalid">
          New password can not be empty.
        </div>
      </div>

      <button id="login-btn" class="my-2 px-4 py-2" (click)="changePassword()">
        Change
      </button>

      <div class="spinner-border text-primary" role="status" id="spinner" #spinner>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<p-toast id="submission-toast" position="top-right" key="{{ CHANGE_PASSWORD_SUCCESSFULLY_NOTIFY_KEY }}" ></p-toast>
