

#tab-panel {
  border: #0d0d0d;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.side-by-side-scroll {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.error-box {
  top: 10vh;
  background-image: url("../../assets/not found page background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.error-title {
  color: #1273BA;
  font-size: 35px;
  font-weight: 600;
}

.error-content {
  color: #1273BA;
  font-size: 20px;
  font-weight: 500;
}

.error-btn {
  font-size: 17px;
  font-weight: 400;
}

.error-btn button {
  color: #F2B311;
  border: #f2B311 solid 3px;
  border-radius: 40px;
  background: #fff0;
}

.error-btn button:hover {
  color: #Fff;
  border: #f2B311 solid 3px;
  background-color: #F2B311;
  border-radius: 40px;
}