
<div *ngIf="!error; else errorPage">
  <question-banner *ngIf="isInExam"></question-banner>

  <div class="my-container" (window:resize)="onResize($event)">
    <div id="tab-panel" class="shadow flex-column">
      <ul [style.width]="'100%'" [style.marginBottom]="'10px'" class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#" (click)="switchTab(TAB_PROBLEM)" #problemTab>Problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="switchTab(TAB_TESTCASES)" #testcasesTab>Test Cases</a>
        </li>
        <li class="nav-item">
          <a [hidden]="!studentService.hasLogin()" class="nav-link" href="#"
            (click)="switchTab(TAB_SUBMISSIONS)" #submissionsTab>Submissions</a>
        </li>
      </ul>
      <div class="my-panel justify-content-start" [style.height]="'100%'">
          <as-split unit="percent" [direction]="'horizontal'" #splitter>
            <as-split-area size="66">
              <div class="side-by-side-scroll">
                <router-outlet></router-outlet>
              </div>
            </as-split-area>
            <as-split-area size="34">
              <div class="side-by-side-scroll">
                <app-code-upload-panel (problemNotFound)="showProblemNotFoundPage($event)"></app-code-upload-panel>
              </div>
            </as-split-area>
          </as-split>
      </div>

    </div>
  </div>
</div>

<ng-template #errorPage>
  <div class="container">
    <div style="height: 10vh"></div>

    <div class="error-box text-center p-3">
      <div class="error-title py-2">
        Oops !!
      </div>
      <div class="error-content py-2">
        <div>We can't find this problem.</div>
        <div>If you find this wrong, please contact the admin.</div>
      </div>
      <div class="error-btn">
        <button class="px-3 py-1" (click)="navigateToExam()"> Go to exam page </button>
      </div>
    </div>
  </div>
</ng-template>