<div class="my-container">
  <div id="tab-panel" class="shadow flex-column">
    <ul [style.width]="'100%'" [style.marginBottom]="'10px'" class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#" (click)="switchTab(TAB_PROBLEM)" #problemTab>Problem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="switchTab(TAB_TESTCASES)" #testcasesTab>Test Cases</a>
      </li>
      <li class="nav-item">
        <a [hidden]="!studentService.hasLogin()" class="nav-link" href="#"
           (click)="switchTab(TAB_SUBMISSIONS)" #submissionsTab>Submissions</a>
      </li>
    </ul>
    <div class="my-panel justify-content-start">
      <div class="row w-100">
        <div class="col-xl-8">
          <router-outlet></router-outlet>
        </div>
        <div class="col-xl-4">
          <app-code-panel></app-code-panel>
        </div>
      </div>
    </div>

  </div>
</div>
