

<p-toast position="top-right" key="{{MESSAGE_KEY_ERROR_TOAST}}"></p-toast>


<div *ngIf="!hasLogin" class="my-panel">
  <h4>Wanna submit?</h4>
  <span>You must login to view your submissions.</span>
  <button class="btn btn-link" [routerLink]="'/'" [style.fontSize]="'17px'">Log in</button>
  <hr>
</div>

<div *ngIf="hasLogin" class="my-panel">
  <h3>Submissions</h3>
  <hr>
  <form>
    <div class="form-group">
      <div *ngIf="problem">
        <div class="upload-row"
             *ngFor="let codeSpec of problem.submittedCodeSpecs; let i = index" #codeSpecRow>
          <span>{{codeSpec.fileName}}</span>
          <p-fileUpload id="_fileSelector{{i}}" mode="basic" chooseLabel="Upload" name="files" accept="{{getAcceptedFileExtensionByCodeSpec(codeSpec)}}"
                         (click)="clearAndSelect(i, fileInput)" (change)="onFileInputChange(i, codeSpecRow, fileInput)" #fileInput></p-fileUpload>

        </div>

      </div>

      <div style="width: 100%; text-align: end">
        <input class="btn btn-primary" id="submit-btn" type="submit" value="Submit"
               (click)="submit()"/>
      </div>
    </div>
  </form>
</div>
