<!--<p-blockUI [blocked]="!hasLogin" [target]="form"></p-blockUI>-->

<!--<p-blockUI [target]="form" [blocked]="!hasLogin">-->
<!--  <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100"-->
<!--       style="position:absolute; top:0; left:0;">-->
<!--    <i class="pi pi-lock" style="font-size: 100px; font-weight: bold"></i>-->
<!--    <p [style.color]="'white'" style="font-size:25px; font-weight: bold">-->
<!--      Login to submit your code</p>-->
<!--  </div>-->
<!--</p-blockUI>-->

<p-toast position="top-right" key="{{MESSAGE_KEY_ERROR_TOAST}}"></p-toast>

<div class="my-panel">
  <form>
    <div class="form-group">
      <div *ngIf="problem">
        <div class="upload-row"
             *ngFor="let codeSpec of problem.submittedCodeSpecs; let i = index" #codeSpecRow>
          <span>{{codeSpec.fileName}}</span>
          <p-fileUpload mode="basic" chooseLabel="Upload" name="files"
                        (change)="onFileInputChange(i, codeSpecRow, fileInput)" #fileInput></p-fileUpload>

          <button *ngIf="selectedFiles[i]" type="button" class="clear-upload-cross"
                  (click)="onFileSelectedCanceled(i, fileInput)">
            <span>&times;</span>
          </button>
        </div>

      </div>

      <div style="width: 100%; text-align: end">
        <input class="btn btn-primary" id="submit-btn" type="submit" value="Submit"
               (click)="submit()"/>
      </div>
    </div>
  </form>

  <hr>
  <span class="feedback">The beta version of Judge Girl (K8S) doesn't support code panels. </span>
  <br>
  <span class="feedback">Feel free to give any feedback via </span>
  <a class="feedback" href="https://github.com/Judge-Girl/Judge-K8S">github</a> <span>.</span>
</div>
