

<p-toast position="top-right" key="{{MESSAGE_KEY_ERROR_TOAST}}"></p-toast>


<div *ngIf="!hasLogin" class="my-panel">
  <h4>Wanna submit?</h4>
  <span>You must login to view your submissions.</span>
  <button class="btn btn-link" [routerLink]="'/'" [style.fontSize]="'17px'">Log in</button>
  <hr>
</div>

<div *ngIf="hasLogin" class="my-panel">
  <h3>Submissions</h3>
  <hr>
  <form>
    <div class="form-group">
      <div *ngIf="problem">
        <div class="upload-row"
             *ngFor="let codeSpec of problem.submittedCodeSpecs; let i = index" #codeSpecRow>
          <span>{{codeSpec.fileName}}</span>
          <p-fileUpload id="_fileSelector{{i}}" mode="basic" chooseLabel="Upload" name="files" accept="{{getAcceptedFileExtensionByCodeSpec(codeSpec)}}"
                         (click)="clearAndSelect(i, fileInput)" (change)="onFileInputChange(i, codeSpecRow, fileInput)" #fileInput></p-fileUpload>

<!--          <button *ngIf="selectedFiles[i]" type="button" class="clear-upload-cross"-->
<!--                  (click)="onFileSelectedCanceled(i, fileInput)">-->
<!--            <span>x</span>-->
<!--          </button>-->
        </div>

      </div>

      <div style="width: 100%; text-align: end">
        <input class="btn btn-primary" id="submit-btn" type="submit" value="Submit"
               (click)="submit()"/>
      </div>
    </div>
  </form>

  <hr>
  <span class="feedback">The beta version of Judge Girl (K8S) doesn't support code panels. </span>
  <br>
  <span class="feedback">Feel free to give any feedback via </span>
  <a class="feedback" href="https://github.com/Judge-Girl/Judge-K8S-Web">github</a> <span>.</span>
  <br>
  <span class="feedback">Wanna contribute? Feel free to tell the TA or </span>
  <a class="feedback" href = "mailto: johnny850807@gmail.com">johnny850807@gmail.com</a>
</div>
