
<div  *ngIf="problem$ | withLoading | async as obs">
  <ng-template [ngIf]="obs.loading">
    <div id="left-column-spinner-container">
      <ld-circle></ld-circle>
    </div>
  </ng-template>
  <ng-template [ngIf]="!obs.error">
    <div class="my-panel" id="problem-description-panel" #problemDescriptionPanel>
      <header class="markdown-panel"><h1 *ngIf="obs.value as problem">{{problem.id + '. ' + problem.title}}</h1>
      </header>
      <div class="markdown-panel" #markdownPanel></div>
      <div class="darcula markdown-panel " #compilationScriptPanel></div>
    </div>
  </ng-template>
</div>



