<div class="font-poppins exam-navbar">
  <div class="navbar navbar-light bg-light fw-600 fsz-30 pt-3 pb-2">
    <div class="pl-4">
      <span (click)="routeToExamList()" class="fake-link">
        Exam
      </span>
      <span class="text-color-gray">
        /
      </span>
      <span *ngIf="!isLoading" (click)="routeToCurrentExamIndex()" class="fake-link">
        {{ examOverview.name }}
      </span>
    </div>
  </div>
  <div>
    <div class="w-100 bg-light px-4 pb-2">
      <span class="my-item px-3 pb-2 cursor-pointer" (click)="routeToTab(TAB_PROBLEMS)" #problemsTab>
        <img src="../../assets/icons/problem.png" class="px-1 align-middle" />
        <span class="align-middle"> Problems </span>
      </span>
      <span class="my-item px-3 pb-2 cursor-pointer" (click)="routeToTab(TAB_SUBMISSIONS)" #submissionsTab>
        <img src="../../assets/icons/submission.png" class="px-1 align-middle" />
        <span> Live Submission </span>
      </span>
      <span class="my-item px-3 pb-2 cursor-pointer" (click)="routeToTab(TAB_SCOREBOARD)" #scoreboardTab>
        <img src="../../assets/icons/scoreboard.png" class="px-1 align-middle" />
        <span> Scoreboard </span>
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="side-by-side-scroll">
    <router-outlet></router-outlet>
  </div>
</div>
