

#best-record-label {
  font-size: 12px;
  color: #808080;
  margin: 0 0 4px 0;
}

.text {
  margin: 0;
}

.judge-status {
  padding: 8px 22px 8px 22px;
  margin-bottom: 15px;
  font-size: 22px;
  border-radius: 10px;
}

#submissions-table {
  border-top: 0;
  margin-top: 35px;
}

#submissions-table th {
  font-size: 14px;
}

#submissions-table td, #submissions-table th {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

#submissions-table .submission-time {
  font-size: 13px;
}

#submissions-table .see-details-btn {
  font-size: 14px;
}

.AC {
  font-weight: bold;
  color: #39C262;
}

.WA, .RE, .SYSTEM_ERR {
  font-weight: bold;
  color: Red;
}

.CE, .TLE, .MLE, .OLE {
  font-weight: bold;
  color: #ff8b26;
}

/* adjust bootstrap's built-in modal size*/
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
  }
}

.judge-error-message {
  color: #ff1309;
}
