@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~highlight.js/styles/darcula.css';

.hidden {
  display: none;
}

.my-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 10px 20px 10px;
  height: 100%
}

.center-content-panel {
  margin: 0 auto 0 auto;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.my-panel {
  padding: 10px 12px 30px 12px;
}

.shadow {
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

header {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  margin: 10px 8px 10px 8px;
  color: rgba(0, 0, 0, 0.68);
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Override bootstrap's table */

.table th {
  border-top: 0;
}

.table th, .table td {
  text-align: center;
}

.table td, .table th {
  padding: .5rem;
}

table tr:nth-child(even) {
  background-color: #fafafa;
}

/* Auto Resize*/
.CodeMirror {
  height: auto !important;
}

/* Markdown styles overriding */
.markdown-panel {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.markdown-panel p {
  color: #363636;
}

.markdown-panel h1 {
  font-size: 37px;
}

.markdown-panel h2 {
  font-size: 30px;
}

.markdown-panel h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 13px;
}

.markdown-panel h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-panel table {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.markdown-panel table, .markdown-panel td, .markdown-panel th {
  border: #dddddd solid 1px;
}

.markdown-panel td, th {
  padding: .5rem;
}

/* Code section */
.markdown-panel pre {
  padding: 12px;
  background: #f7f7f7;
}

.cursor-pointer {
  cursor: pointer;
}

/* */

.fake-link {
  color: #1273BA;
  cursor: pointer;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.fw-600 {
  font-weight: 600;
}

.fsz-30 {
  font-size: 30px;
}

.text-color-gray {
  color: #676877;
}

.title-font {
  font-size: 35px;
  font-weight: 800;
  color: #374550;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.content-title-font {
  font-size: 30px;
  font-weight: 700;
  color: #374550;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}