

.my-container {
  font-family: "Times New Roman", serif;
  width: 100%;
}

#spinner {
  margin-right: auto;
  margin-left: auto;
  width: 90px;
  height: 90px;
}

#problem-description-panel {
  text-align: left;
}

.example-card .card-title {
  padding: 5px 5px 5px 15px;
  font-weight: bold;
  background: rgb(246, 246, 246);
}

#title {
  display: inline;
  font-size: 26px;
  margin-bottom: 30px;
}

.markdown-panel h2 {
  margin: 3px;
  color: #56baed;
}

.markdown-panel table {
  width: 100%;
}
