
.markdown-panel {
  margin: 0 0 15px 0;
}

.my-container {
  font-family: "Times New Roman", serif;
  width: 100%;
}

#spinner {
  margin-right: auto;
  margin-left: auto;
  width: 90px;
  height: 90px;
}

#problem-description-panel {
  text-align: left;
  margin-bottom: 15px;
}

.example-card .card-title {
  padding: 5px 5px 5px 15px;
  font-weight: bold;
  background: rgb(246, 246, 246);
}
