
.my-container {
  font-family: "Times New Roman", serif;
  width: 100%;
}

#spinner {
  margin-right: auto;
  margin-left: auto;
  width: 90px;
  height: 90px;
}

#problem-description-panel {
  text-align: left;
}

.example-card .card-title {
  padding: 5px 5px 5px 15px;
  font-weight: bold;
  background: rgb(246, 246, 246);
}

.markdown-panel {
  font-family: "Times New Roman", serif;
}

.markdown-panel table {
  width: 100%;
}

.markdown-panel td, th {
  padding: .5rem;
}
