<div class="my-container">
  <div id="problems-panel" class="card shadow">
    <div class="card-title">
      <header>Judge Girl (Kubernetes) Beta 1.0</header>
    </div>
    <hr>
    <div class="card-body">

      <div id="problem-tags-bar" >
        <problem-tag-drop-down (tagSelect)="onProblemTagSelected($event)"></problem-tag-drop-down>
      </div>

      <!-- Spinner -->
      <div *ngIf="loadingProblems" id="spinner" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <ul class="list-group" *ngFor="let problemItem of problemItems">
        <li class="problem-item list-group-item fadeIn" (click)="routeToProblem(problemItem.id)" >
          <header class="problem-item-title"> {{problemItem.title}} </header>
        </li>
      </ul>
    </div>
  </div>
</div>
