<div class="center-content-panel">
  <div id="problems-panel" class="card shadow">
    <div class="card-title">
      <header>Problem List</header>
    </div>
    <hr>
    <div class="card-body">

      <div id="problem-tags-bar" >
        <problem-tag-drop-down (tagSelect)="onProblemTagSelected($event)"></problem-tag-drop-down>
      </div>

      <!-- Spinner -->
      <div  *ngIf="loadingProblems" class="row w-100 h-100 align-items-center justify-content-center">
        <ld-circle></ld-circle>
      </div>

      <ul class="list-group" *ngFor="let problemItem of problemItems">
        <li class="problem-item list-group-item fadeIn" (click)="routeToProblem(problemItem.id)" >
          <header class="problem-item-title"> {{problemItem.id + '. ' + problemItem.title}}</header>
        </li>
      </ul>
    </div>
  </div>
</div>
