.problem-item {
  text-align: left;
  cursor: pointer;
}

.problem-item:hover {
  background: #cccccc;
}

.problem-item-title {
  text-align: left;
  margin: 3px;
}

.problem-item-description {
  text-align: left;
}

.my-problem-table td:nth-child(2) {
  width: 40%;
}

.my-problem-table td:nth-child(3) {
  display: flex;
  flex-flow: row wrap;
}

.problem-tag {
  font-size: 13px;
  font-weight: 600 !important;
  line-height: 1.2;
  background-color: #0F7ED0;
}



